[Unit]
Description=Run 4N DEV Core Certbot renewal twice daily

[Timer]
OnCalendar=*-*-* 03:00:00
OnCalendar=*-*-* 15:00:00
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
